* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(../imgs/yi.jpg);
  background-size: cover;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 70px;
  padding: 0 13px;
}
ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}
li {
  display: flex;
}
a {
  text-decoration: none;
  color: beige;
  border-radius: 50px;
  padding: 5px;
  transition: 0.3s ease;
  font-size: 25px;
}
li a:hover {
  transform: scale(1.2);
  color: tomato;
  background-color: blanchedalmond;
}
h3 a {
  /* display: flex; */
  font-weight: 800;
  font-size: 30px;
}
h3 a:hover {
  color: rgb(27, 145, 230);
}
h3:hover {
  background-color: none;
}
span {
  color: tomato;
}
